@import 'assets/sass/_icons'
@import 'assets/sass/_boxes'

.location
    +icon-location

/* Layout */
*
    margin: 0px
    padding: 0px


body
    font-family: $content-font
    margin-top: $medium
    background: $background

h1, h2, h3
    font-family: $titles-font

h3
    font-weight: normal

a
    color: $main-lightened
    text-decoration: none

    &:hover
        color: $main-darkened
        text-decoration: underline

article
    margin-bottom: $large

    & p
        margin-bottom: $medium
        text-align: justify

    & ul
        margin-left: $medium
        margin-bottom: $medium

        & li
            margin-left: $medium

header
    +left-box
    & .avatar
        +white-box
        float: left
        margin: $small
        margin-right: $medium

    & #contacts
        & li
            +inline-list
            & a
                display: inline-block
                font-size: $large
                width: $large
                height: $large
                overflow: hidden

                &.mail
                    +icon-mail
                &.googleplus
                    +icon-googleplus
                &.twitter
                    +icon-twitter
                &.github
                    +icon-github
                &.skype
                    +icon-skype
                &.linkedin
                    +icon-linkedin
    & #address
        clear: both
        position: relative
        & > p
            +icon-location
            margin-left: $large
            &:before
                position: absolute
                top: $small
                left: -$small
                color: $main-color

        margin-top: $medium
        margin-bottom: $medium

#education
    +left-box
    & h2
        +icon-library

    font-size: 80%

#skills
    +left-box
    font-size: 80%

    & h2
        +icon-hammer

    & dt
        font-family: $titles-font
        &:after
            content: ":"
    & dd
        margin-left: $medium

nav
    display: none
    position: absolute
    top: 0px

    & ul
        & li
            +inline-list

        &.sections
            float: left

        &.langs
            float: right
    & a
        &.link-to-resume
            +icon-quill
        &.link-to-experience
            +icon-office
        &.link-to-education
            +icon-library
        &.link-to-skills
            +icon-hammer
        &.link-to-hobbies
            +icon-pacman

footer
    +wide-box(bottom)

    text-align: center
    clear: both

#resume
    +right-box

    & h2
        +icon-quill

#experience
    +right-box

    & h2
        +icon-office

    & .dates
        +icon-calendar
        color: $main-darkened
        display: block
        margin-top: $small
        margin-bottom: $medium


    & .where
        +white-box
        display: inline-block
        text-align: center
        font-size: 80%

        background-repeat: no-repeat
        background-position: center 10px

        float: right
        padding: $small
        padding-top: 20 + 2 * $small
        margin: $medium

        &.where-smartesting
            background-image: url('../images/logos/smartesting.png')

        &.where-zest
            background-image: url('../images/logos/zest.png')

        &.where-bleu-vert
            background-image: url('../images/logos/bleu-vert.png')
        
        &.where-lifc
            background-image: url('../images/logos/lifc.png')

    & .keywords
        clear: both
        +icon-tag
        color: $main-darkened

        & li
            +inline-list

            font-size: 80%
            border: 1px solid $main-color
            background: lighten($main-color, 50%)
            padding: $small
            margin-bottom: $small
            margin-left: 0
            -webkit-border-radius: $small
            -moz-border-radius: $small
            border-radius: $small


#hobbies
    +right-box

    & h2
        +icon-pacman
