@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?-cyoqrx");
  src: url("../fonts/icomoon.eot?#iefix-cyoqrx") format("embedded-opentype"), url("../fonts/icomoon.woff?-cyoqrx") format("woff"), url("../fonts/icomoon.ttf?-cyoqrx") format("truetype"), url("../fonts/icomoon.svg?-cyoqrx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?-cyoqrx");
  src: url("../fonts/icomoon.eot?#iefix-cyoqrx") format("embedded-opentype"), url("../fonts/icomoon.woff?-cyoqrx") format("woff"), url("../fonts/icomoon.ttf?-cyoqrx") format("truetype"), url("../fonts/icomoon.svg?-cyoqrx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.location:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 5px;
  content: "\e600"; }

/* Layout */
* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: "Fjord One", serif;
  margin-top: 10px;
  background: #efefef; }

h1, h2, h3 {
  font-family: "Oswald", sans-serif; }

h3 {
  font-weight: normal; }

a {
  color: #4a9cc3;
  text-decoration: none; }
  a:hover {
    color: #29627e;
    text-decoration: underline; }

article {
  margin-bottom: 20px; }
  article p {
    margin-bottom: 10px;
    text-align: justify; }
  article ul {
    margin-left: 10px;
    margin-bottom: 10px; }
    article ul li {
      margin-left: 10px; }

header {
  margin-bottom: 30px;
  padding: 5px; }
  header h1, header h2 {
    color: #3680a4;
    width: 100%;
    padding: 5px;
    margin-top: 0;
    margin-right: -5px;
    margin-bottom: 5px;
    margin-left: -5px; }
    @media (max-width: 60em) {
      header h1, header h2 {
        border-bottom: 1px solid #3680a4; } }
  header h3 {
    color: #4a9cc3; }
  header article {
    width: 100%; }
  @media (max-width: 60em) {
    header {
      margin-left: 20px;
      margin-right: 20px; } }
  @media (min-width: 60em) {
    header {
      float: left;
      margin-left: 5%;
      width: 30%; } }
  header .avatar {
    display: inline-block;
    background: white;
    -webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.35);
    float: left;
    margin: 5px;
    margin-right: 10px; }
  header #contacts li {
    list-style-type: none; }
    @media (min-width: 60em) {
      header #contacts li {
        list-style-type: none;
        display: inline-block;
        margin-right: 5px; } }
    @media (min-width: 60em) {
      header #contacts li a {
        display: inline-block;
        font-size: 20px;
        width: 20px;
        height: 20px;
        overflow: hidden; } }
    header #contacts li a.mail:before {
      font-family: "icomoon";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding-right: 5px;
      content: "\e601"; }
    header #contacts li a.googleplus:before {
      font-family: "icomoon";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding-right: 5px;
      content: "\e602"; }
    header #contacts li a.twitter:before {
      font-family: "icomoon";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding-right: 5px;
      content: "\e603"; }
    header #contacts li a.github:before {
      font-family: "icomoon";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding-right: 5px;
      content: "\e604"; }
    header #contacts li a.skype:before {
      font-family: "icomoon";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding-right: 5px;
      content: "\e606"; }
    header #contacts li a.linkedin:before {
      font-family: "icomoon";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding-right: 5px;
      content: "\e605"; }
  header #address {
    clear: both;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px; }
    header #address > p {
      margin-left: 20px; }
      header #address > p:before {
        font-family: "icomoon";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding-right: 5px;
        content: "\e600"; }
      header #address > p:before {
        position: absolute;
        top: 5px;
        left: -5px;
        color: #3680a4; }

#education {
  margin-bottom: 30px;
  padding: 5px; }
  #education h1, #education h2 {
    color: #3680a4;
    width: 100%;
    padding: 5px;
    margin-top: 0;
    margin-right: -5px;
    margin-bottom: 5px;
    margin-left: -5px; }
    @media (max-width: 60em) {
      #education h1, #education h2 {
        border-bottom: 1px solid #3680a4; } }
  #education h3 {
    color: #4a9cc3; }
  #education article {
    width: 100%; }
  @media (max-width: 60em) {
    #education {
      margin-left: 20px;
      margin-right: 20px; } }
  @media (min-width: 60em) {
    #education {
      float: left;
      margin-left: 5%;
      width: 30%;
      font-size: 80%; } }
  #education h2:before {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    content: "\e60b"; }

#skills {
  margin-bottom: 30px;
  padding: 5px; }
  #skills h1, #skills h2 {
    color: #3680a4;
    width: 100%;
    padding: 5px;
    margin-top: 0;
    margin-right: -5px;
    margin-bottom: 5px;
    margin-left: -5px; }
    @media (max-width: 60em) {
      #skills h1, #skills h2 {
        border-bottom: 1px solid #3680a4; } }
  #skills h3 {
    color: #4a9cc3; }
  #skills article {
    width: 100%; }
  @media (max-width: 60em) {
    #skills {
      margin-left: 20px;
      margin-right: 20px; } }
  @media (min-width: 60em) {
    #skills {
      float: left;
      margin-left: 5%;
      width: 30%;
      font-size: 80%; } }
  #skills h2:before {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    content: "\e60e"; }
  #skills dt {
    font-family: "Oswald", sans-serif; }
    #skills dt:after {
      content: ":"; }
  #skills dd {
    margin-left: 10px; }

nav ul.sections {
  display: none; }
nav ul.langs {
  display: block;
  font-size: 60%;
  position: absolute;
  top: 5px;
  right: 5px; }
  nav ul.langs li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px; }
    nav ul.langs li a {
      padding-left: 20px;
      background-repeat: no-repeat;
      background-position: center left; }
    nav ul.langs li.en a {
      background-image: url("../images/flags/us.png"); }
    nav ul.langs li.fr a {
      background-image: url("../images/flags/fr.png"); }
    nav ul.langs li.fr:after {
      content: "-";
      padding: 5px; }
nav a.link-to-resume:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 5px;
  content: "\e608"; }
nav a.link-to-experience:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 5px;
  content: "\e607"; }
nav a.link-to-education:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 5px;
  content: "\e60b"; }
nav a.link-to-skills:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 5px;
  content: "\e60e"; }
nav a.link-to-hobbies:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 5px;
  content: "\e60a"; }

footer {
  display: block;
  width: 100%;
  background: #70b1d0;
  padding: 5px 0px;
  border-top: 1px solid #29627e;
  border-bottom: 1px solid #29627e;
  text-align: center;
  clear: both; }
  footer a {
    color: #29627e; }
    footer a:hover {
      color: white; }

#resume {
  margin-bottom: 30px;
  padding: 5px; }
  #resume h1, #resume h2 {
    color: #3680a4;
    width: 100%;
    padding: 5px;
    margin-top: 0;
    margin-right: -5px;
    margin-bottom: 5px;
    margin-left: -5px; }
    @media (max-width: 60em) {
      #resume h1, #resume h2 {
        border-bottom: 1px solid #3680a4; } }
  #resume h3 {
    color: #4a9cc3; }
  #resume article {
    width: 100%; }
  @media (max-width: 60em) {
    #resume {
      margin-left: 20px;
      margin-right: 20px; } }
  @media (min-width: 60em) {
    #resume {
      float: right;
      margin-right: 5%;
      width: 55%; } }
  #resume h2:before {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    content: "\e608"; }

#experience {
  margin-bottom: 30px;
  padding: 5px; }
  #experience h1, #experience h2 {
    color: #3680a4;
    width: 100%;
    padding: 5px;
    margin-top: 0;
    margin-right: -5px;
    margin-bottom: 5px;
    margin-left: -5px; }
    @media (max-width: 60em) {
      #experience h1, #experience h2 {
        border-bottom: 1px solid #3680a4; } }
  #experience h3 {
    color: #4a9cc3; }
  #experience article {
    width: 100%; }
  @media (max-width: 60em) {
    #experience {
      margin-left: 20px;
      margin-right: 20px; } }
  @media (min-width: 60em) {
    #experience {
      float: right;
      margin-right: 5%;
      width: 55%; } }
  #experience h2:before {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    content: "\e607"; }
  #experience .dates {
    color: #29627e;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px; }
    #experience .dates:before {
      font-family: "icomoon";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding-right: 5px;
      content: "\e60d"; }
    @media (max-width: 60em) {
      #experience .dates:after {
        content: " - "; } }
  @media (min-width: 60em) {
    #experience .where {
      display: inline-block;
      background: white;
      -webkit-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.35);
      -moz-box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.35);
      box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.35);
      float: right;
      margin-left: 10px;
      margin-bottom: 10px;
      text-align: center;
      font-size: 80%; }
      #experience .where.where-smartesting {
        background-repeat: no-repeat;
        background-position: center 5px;
        padding: 5px;
        padding-top: 30px;
        background-image: url("../images/logos/smartesting.png"); }
      #experience .where.where-zest {
        background-repeat: no-repeat;
        background-position: center 5px;
        padding: 5px;
        padding-top: 30px;
        background-image: url("../images/logos/zest.png"); }
      #experience .where.where-bleu-vert {
        background-repeat: no-repeat;
        background-position: center 5px;
        padding: 5px;
        padding-top: 30px;
        background-image: url("../images/logos/bleu-vert.png"); }
      #experience .where.where-lifc {
        background-repeat: no-repeat;
        background-position: center 5px;
        padding: 5px;
        padding-top: 30px;
        background-image: url("../images/logos/lifc.png"); } }
  #experience .keywords {
    clear: both;
    color: #29627e; }
    #experience .keywords:before {
      font-family: "icomoon";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding-right: 5px;
      content: "\e60f"; }
    #experience .keywords li {
      list-style-type: none;
      display: inline-block;
      margin-right: 5px;
      font-size: 80%;
      border: 1px solid #3680a4;
      background: #e3f0f6;
      padding: 5px;
      margin-bottom: 5px;
      margin-left: 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }

#hobbies {
  margin-bottom: 30px;
  padding: 5px; }
  #hobbies h1, #hobbies h2 {
    color: #3680a4;
    width: 100%;
    padding: 5px;
    margin-top: 0;
    margin-right: -5px;
    margin-bottom: 5px;
    margin-left: -5px; }
    @media (max-width: 60em) {
      #hobbies h1, #hobbies h2 {
        border-bottom: 1px solid #3680a4; } }
  #hobbies h3 {
    color: #4a9cc3; }
  #hobbies article {
    width: 100%; }
  @media (max-width: 60em) {
    #hobbies {
      margin-left: 20px;
      margin-right: 20px; } }
  @media (min-width: 60em) {
    #hobbies {
      float: right;
      margin-right: 5%;
      width: 55%; } }
  #hobbies h2:before {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 5px;
    content: "\e60a"; }
