$titles-font: 'Droid Sans', sans-serif
$content-font: 'Arial', sans-serif

$small: 5px
$medium: 10px
$large: 20px
$xlarge: 30px

=box
    margin-bottom: $xlarge

=left-box
    +box
    width: 25%
    float: left

=right-box
    +box
    width: 60%
    float: right

=inline-list
    list-style-type: none
    display: inline-block
    margin-right: $small

=iconed
    font-family: 'icomoon'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.location:before
    +iconed
    content: "\e600"

.mail:before
    +iconed
    content: "\e601"

.googleplus:before
    +iconed
    content: "\e602"

.twitter:before
    +iconed
    content: "\e603"

.github:before
    +iconed
    content: "\e604"

.skype:before
    +iconed
    content: "\e606"

.linkedin:before
    +iconed
    content: "\e605"


/* Layout */
*
    margin: 0px
    padding: 0px


body
    margin: 0px 5%
    font-family: $content-font

h1, h2, h3
    font-family: $titles-font

/* -- Header */

header
    +left-box
    & #contacts
        & li
            +inline-list
            & a
                display: inline-block
                text-decoration: none
                font-size: $large
                width: $large
                height: $large
                overflow: hidden

/* -- Education */
#education
    +left-box
    margin-top: $xlarge
    & article
        margin-bottom: $large

/* -- Navigation */
nav
    +right-box
    & ul
        & li
            +inline-list
        &.sections
            float: left

        &.langs
            float: right
    & a
        text-decoration: none
        &:hover
            text-decoration: underline

/* -- Resume */
#resume
    +right-box

/* -- Experience */

#experience
    +right-box
    & article
        margin-bottom: $medium

    & a.where
        display: inline-block
        text-align: center
        min-width: 105px
        max-width: 300px
        border: 1px solid #555
        background: #fff
        background-repeat: no-repeat
        background-position: center 10px
        float: right
        padding: $medium
        margin: $medium

        &.where-smartesting
            padding-top: 65px
            background-image: url('../images/logos/smartesting.png')

        &.where-zest
            padding-top: 38px
            background-image: url('../images/logos/zest.png')

        &.where-bleu-vert
            padding-top: 31px
            background-image: url('../images/logos/bleu-vert.png')
        
        &.where-lifc
            padding-top: 115px
            background-image: url('../images/logos/lifc.png')

    & .keywords
        clear: both

        & li
            +inline-list

/* -- Hobbies */
#hobbies
    +right-box

/* -- Footer */
footer
    text-align: center
    clear: both
