$titles-font: 'Droid Sans', sans-serif
$content-font: 'Arial', sans-serif

$small: 5px
$medium: 10px
$large: 20px
$xlarge: 30px
$xxlarge: 45px


/* Palette URL: http://paletton.com/#uid=12t0u0kllll1l2Eblb+vluGW+T3 */
$color-primary-0: #569DC0
$color-primary-1: #B1DAEE
$color-primary-2: #7EBBD9
$color-primary-3: #3680A4
$color-primary-4: #1D6D93

=shadowed
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75)
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75)
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75)

=box-title($top)
    color: $color-primary-3
    border: 1px solid $color-primary-3
    background: $color-primary-2

    padding: $small
    margin-top: $top
    margin-right: -$medium
    margin-bottom: $small
    margin-left: -$medium

=box
    +shadowed
    margin-bottom: $xlarge
    padding: $small
    border: 1px solid $color-primary-3
    background: lighten($color-primary-3, 45%)

    & h1
        +box-title($medium)

    & h2
        +box-title(0px)

    & h3
        color: $color-primary-0


=left-box
    +box
    width: 30%
    float: left
    margin-left: 5%

=right-box
    +box
    width: 55%
    float: right
    margin-right: 5%

=inline-list
    list-style-type: none
    display: inline-block
    margin-right: $small

=iconed($content)
    &:before
        font-family: 'icomoon'
        speak: none
        font-style: normal
        font-weight: normal
        font-variant: normal
        text-transform: none
        line-height: 1
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        padding-right: $small
        content: $content

=icon-office
    +iconed("\e607")

=icon-quill
    +iconed("\e608")

=icon-pen
    +iconed("\e609")

=icon-pacman
    +iconed("\e60a")

=icon-library
    +iconed("\e60b")

=icon-phone
    +iconed("\e60c")

=icon-location
    +iconed("\e600")

=icon-calendar
    +iconed("\e60d")

=icon-mail
    +iconed("\e601")

=icon-googleplus
    +iconed("\e602")

=icon-twitter
    +iconed("\e603")

=icon-github
    +iconed("\e604")

=icon-skype
    +iconed("\e606")

=icon-linkedin
    +iconed("\e605")

=icon-hammer
    +iconed("\e60e")

=icon-tag
    +iconed("\e60f")

.location
    +icon-location


/* Layout */
*
    margin: 0px
    padding: 0px


body
    font-family: $content-font
    color: $color-primary-0
    margin-top: $xxlarge
    background: lighten($color-primary-3, 50%)


h1, h2, h3
    font-family: $titles-font

a
    color: $color-primary-2

article
    margin-bottom: $large

    & p
        margin-bottom: $medium

    & ul
        margin-left: $medium
        margin-bottom: $medium

        & li
            margin-left: $medium

header
    +left-box
    & .avatar
        float: left
        margin: $small
        border: 1px solid $color-primary-3

    & #contacts
        & li
            +inline-list
            & a
                display: inline-block
                text-decoration: none
                font-size: $large
                width: $large
                height: $large
                overflow: hidden

                &:hover
                    color: $color-primary-3

                &.mail
                    +icon-mail
                &.googleplus
                    +icon-googleplus
                &.twitter
                    +icon-twitter
                &.github
                    +icon-github
                &.skype
                    +icon-skype
                &.linkedin
                    +icon-linkedin
    & #address
        clear: both
        position: relative
        & > p
            +icon-location
            padding-left: $medium
            &:before
                position: absolute
                left: -$small

        margin-top: $medium
        margin-bottom: $medium

#education
    +left-box
    & h2
        +icon-library

    font-size: 80%

#skills
    +left-box
    & h2
        +icon-hammer

    font-size: 80%

nav
    +shadowed
    position: fixed
    top: 0px

    display: block
    width: 100%

    border-bottom: 1px solid $color-primary-3
    background: $color-primary-2

    & ul
        & li
            +inline-list
            padding: $small

        &.sections
            float: left

        &.langs
            float: right
    & a
        color: $color-primary-3
        text-decoration: none

        &:hover
            color: #fff
            text-decoration: underline

        &.link-to-resume
            +icon-quill
        &.link-to-experience
            +icon-office
        &.link-to-education
            +icon-library
        &.link-to-skills
            +icon-hammer
        &.link-to-hobbies
            +icon-pacman

/* -- Resume */
#resume
    +right-box

    & h2
        +icon-quill

/* -- Experience */

#experience
    +right-box

    & h2
        +icon-office

    & a.where
        display: inline-block
        text-align: center
        text-decoration: none

        min-width: 105px
        max-width: 300px
        border: 1px solid #555
        background: #fff
        background-repeat: no-repeat
        background-position: center 10px
        float: right
        padding: $medium
        margin: $medium

        &.where-smartesting
            padding-top: 65px
            background-image: url('../images/logos/smartesting.png')

        &.where-zest
            padding-top: 38px
            background-image: url('../images/logos/zest.png')

        &.where-bleu-vert
            padding-top: 31px
            background-image: url('../images/logos/bleu-vert.png')
        
        &.where-lifc
            padding-top: 115px
            background-image: url('../images/logos/lifc.png')

    & .keywords
        clear: both
        +icon-tag

        & li
            +inline-list
            border: 1px solid $color-primary-2
            background: lighten($color-primary-2, 25%)
            padding: $small
            margin-bottom: $small
            -webkit-border-radius: $small
            -moz-border-radius: $small
            border-radius: $small


/* -- Hobbies */
#hobbies
    +right-box

    & h2
        +icon-pacman

/* -- Footer */
footer
    text-align: center
    clear: both
    border-top: 1px solid $color-primary-3
    background: $color-primary-2
    color: $color-primary-3
    padding: $small
    a
        color: $color-primary-4