$titles-font: 'Droid Sans', sans-serif
$content-font: 'Arial', sans-serif

$small: 5px
$medium: 10px
$large: 20px
$xlarge: 30px

/* Palette URL: http://paletton.com/#uid=12t0u0kllll1l2Eblb+vluGW+T3 */
$color-primary-0: #709C34
$color-primary-1: #131313
$color-primary-2: #4A5739
$color-primary-3: #84E005
$color-primary-4: #91FA00

=box
    margin-bottom: $xlarge

=left-box
    +box
    width: 30%
    float: left
    margin-left: 5%

=right-box
    +box
    width: 60%
    float: right
    margin-right: 5%

=inline-list
    list-style-type: none
    display: inline-block
    margin-right: $small

=iconed($content)
    &:before
        font-family: 'icomoon'
        speak: none
        font-style: normal
        font-weight: normal
        font-variant: normal
        text-transform: none
        line-height: 1
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        padding-right: $small
        content: $content

=icon-office
    +iconed("\e607")

=icon-quill
    +iconed("\e608")

=icon-pen
    +iconed("\e609")

=icon-pacman
    +iconed("\e60a")

=icon-library
    +iconed("\e60b")

=icon-phone
    +iconed("\e60c")

=icon-location
    +iconed("\e600")

=icon-calendar
    +iconed("\e60d")

=icon-mail
    +iconed("\e601")

=icon-googleplus
    +iconed("\e602")

=icon-twitter
    +iconed("\e603")

=icon-github
    +iconed("\e604")

=icon-skype
    +iconed("\e606")

=icon-linkedin
    +iconed("\e605")

=icon-hammer
    +iconed("\e60e")

.location
    +icon-location


/* Layout */
*
    margin: 0px
    padding: 0px


body
    font-family: $content-font
    color: $color-primary-1
    background: #ececec
    margin-top: $medium


h1, h2, h3
    font-family: $titles-font
    color: $color-primary-0

a
    color: $color-primary-2

article
    margin-bottom: $large

    & p
        margin-bottom: $medium

    & ul
        margin-left: $medium
        margin-bottom: $medium

        & li
            margin-left: $medium

/* -- Header */

header
    +left-box
    & .avatar
        float: left
        margin: $small
        border: 1px solid $color-primary-3

    & #contacts
        & li
            +inline-list
            & a
                display: inline-block
                text-decoration: none
                font-size: $large
                width: $large
                height: $large
                overflow: hidden

                &.mail
                    +icon-mail
                &.googleplus
                    +icon-googleplus
                &.twitter
                    +icon-twitter
                &.github
                    +icon-github
                &.skype
                    +icon-skype
                &.linkedin
                    +icon-linkedin
    & #address
        clear: both
        & > p
            +icon-location
            padding-left: $medium
        margin-top: $medium
        margin-bottom: $medium

#education
    +left-box
    & h2
        +icon-library

    font-size: 80%

#skills
    +left-box
    & h2
        +icon-hammer

    font-size: 80%

nav
    +right-box
    & ul
        & li
            +inline-list
        &.sections
            float: left

        &.langs
            float: right
    & a
        text-decoration: none
        &:hover
            text-decoration: underline

        &.link-to-resume
            +icon-quill
        &.link-to-experience
            +icon-office
        &.link-to-education
            +icon-library
        &.link-to-skills
            +icon-hammer
        &.link-to-hobbies
            +icon-pacman

/* -- Resume */
#resume
    +right-box

    & h2
        +icon-quill

/* -- Experience */

#experience
    +right-box

    & h2
        +icon-office

    & a.where
        display: inline-block
        text-align: center
        min-width: 105px
        max-width: 300px
        border: 1px solid #555
        background: #fff
        background-repeat: no-repeat
        background-position: center 10px
        float: right
        padding: $medium
        margin: $medium

        &.where-smartesting
            padding-top: 65px
            background-image: url('../images/logos/smartesting.png')

        &.where-zest
            padding-top: 38px
            background-image: url('../images/logos/zest.png')

        &.where-bleu-vert
            padding-top: 31px
            background-image: url('../images/logos/bleu-vert.png')
        
        &.where-lifc
            padding-top: 115px
            background-image: url('../images/logos/lifc.png')

    & .keywords
        clear: both

        & li
            +inline-list

/* -- Hobbies */
#hobbies
    +right-box

    & h2
        +icon-pacman

/* -- Footer */
footer
    text-align: center
    clear: both
    background: $color-primary-2
    color: $color-primary-3
    padding: $small
    a
        color: $color-primary-4