.location:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e600"; }

.mail:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e601"; }

.googleplus:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e602"; }

.twitter:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e603"; }

.github:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e604"; }

.skype:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e606"; }

.linkedin:before {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e605"; }

/* Layout */
* {
  margin: 0px;
  padding: 0px; }

body {
  margin: 0px 5%;
  font-family: "Arial", sans-serif; }

h1, h2, h3 {
  font-family: "Droid Sans", sans-serif; }

/* -- Header */
header {
  margin-bottom: 30px;
  width: 25%;
  float: left; }
  header #contacts li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px; }
    header #contacts li a {
      display: inline-block;
      text-decoration: none;
      font-size: 20px;
      width: 20px;
      height: 20px;
      overflow: hidden; }

/* -- Education */
#education {
  margin-bottom: 30px;
  width: 25%;
  float: left;
  margin-top: 30px; }
  #education article {
    margin-bottom: 20px; }

/* -- Navigation */
nav {
  margin-bottom: 30px;
  width: 60%;
  float: right; }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px; }
  nav ul.sections {
    float: left; }
  nav ul.langs {
    float: right; }
  nav a {
    text-decoration: none; }
    nav a:hover {
      text-decoration: underline; }

/* -- Resume */
#resume {
  margin-bottom: 30px;
  width: 60%;
  float: right; }

/* -- Experience */
#experience {
  margin-bottom: 30px;
  width: 60%;
  float: right; }
  #experience article {
    margin-bottom: 10px; }
  #experience a.where {
    display: inline-block;
    text-align: center;
    min-width: 105px;
    max-width: 300px;
    border: 1px solid #555555;
    background: white;
    background-repeat: no-repeat;
    background-position: center 10px;
    float: right;
    padding: 10px;
    margin: 10px; }
    #experience a.where.where-smartesting {
      padding-top: 65px;
      background-image: url("../images/logos/smartesting.png"); }
    #experience a.where.where-zest {
      padding-top: 38px;
      background-image: url("../images/logos/zest.png"); }
    #experience a.where.where-bleu-vert {
      padding-top: 31px;
      background-image: url("../images/logos/bleu-vert.png"); }
    #experience a.where.where-lifc {
      padding-top: 115px;
      background-image: url("../images/logos/lifc.png"); }
  #experience .keywords {
    clear: both; }
    #experience .keywords li {
      list-style-type: none;
      display: inline-block;
      margin-right: 5px; }

/* -- Hobbies */
#hobbies {
  margin-bottom: 30px;
  width: 60%;
  float: right; }

/* -- Footer */
footer {
  text-align: center;
  clear: both; }
